/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/*GRID*/
.container {
  max-width: 130rem;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

/*HEADER*/
.header {
  background: black;
  position: relative;
  position: fixed;
  width: 100%;
}
.header .branding img {
  width: 15rem;
}
.header .header__nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header .header__nav a img {
  display: none;
}
.header .header__nav ul span {
  width: 0.1rem;
  height: 2rem;
  background-color: #ffffff;
  display: block;
}
.header .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__wrapper .toggle__menu {
  display: none;
}
.header .header__nav ul li a {
  color: #ffffff;
  font-weight: 600;
}
.header .header__nav ul li a:hover {
  color: #1db954;
}
.header .toggle__menu span {
  width: 3rem;
  height: 0.2rem;
  background-color: #ffffff;
  display: block;
  border-radius: 5rem;
  transition: 0.5s ease;
}
.header .toggle__menu span:nth-child(2) {
  margin: 0.5rem 0;
}
.header .toggle__menu.open span:first-child {
  transform: rotate(225deg) translate(0, -10px);
  transition: 0.5s ease;
}
.header .toggle__menu.open span:nth-child(2) {
  opacity: 0;
  transition: 0.5s ease;
}
.header .toggle__menu.open span:last-child {
  transform: rotate(-225deg) translate(0, 10px);
  transition: 0.5s ease;
}

/*mobile view*/
@media screen and (max-width: 480px) {
  .header .header__nav {
    position: absolute;
    background: black;
    top: 0;
    right: -100rem;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s ease;
  }
  .header .header__nav.open {
    right: 0rem;
    transition: 0.5s ease;
  }
  .header .header__wrapper .toggle__menu {
    display: block;
    z-index: 999;
  }
  .header .header__nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem;
  }
  .header .header__nav ul li {
    width: 100%;
  }
  .header .header__nav ul li a {
    font-size: 3rem;
  }
  .header .header__nav ul li:last-child a,
  .header .header__nav ul li:nth-child(5) a {
    font-size: 2rem;
  }
  .header .header__nav ul span {
    transform: rotate(90deg) translateY(-2.5rem);
    align-self: start;
    height: 5rem;
    width: 0.2rem;
    border-radius: 5rem;
  }
  .header .header__nav ul a {
    align-self: start;
  }
  .header .header__nav a img {
    display: flex;
    width: 15rem;
    padding-left: 5rem;
    transform: translateY(-5rem);
  }
}
